extends layout

 h1= title
  input#phone(type='tele', placeholder= '111-111-1111')
  input#email(type='text', placeholder= 'example@email.com')
  input#address(type='text', placeholder= '1234 Example st.')
